<h1 class="mx-sm-3">Stupid coaching</h1>
<%= @question%>
<p class="mx-sm-3"> -- You</p>

<strong class="mx-sm-3"><%= @coach_answer%></strong>
<p class="mx-sm-3"> -- Your coach</p>
<class="mx-sm-3"%= link_to "Return to ask question", ask_path %>
