<h1 class="mx-sm-3">Stupid coaching</h1>
<p class="mx-sm-3">Ask your coach anything:</p>
<form action="/answer" data-turbo="false">
  <input class="form-group mx-sm-3 mb-2" type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
